@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* @font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E3B2AD !important;
  font-family: 'Galmuri9' !important;
  /* font-family: 'DungGeunMo' !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-content {
  background-color: antiquewhite !important; 
  height: auto !important;
}

@media(max-width:600px){
  .background-banner img{
    max-width: 80%;
    height: auto;
    display: block;
  }
}

.page-link{
  color:#df677c !important;
}

.page-item.active .page-link{
  background-color: #df677c !important;
  border-color:#df677c !important;
  color: #fff !important;
}
