.custom-text-overflow{
    max-height:72px;
    text-overflow:ellipsis;
    word-wrap:break-word;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden
}